<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MusicStore;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
	</connectionStrings>
</configuration>
